* {
    padding: 0;
    margin: 0;
}

/* 整個背景容器 */
#container {
    width: 100vw;
    height: 100vh;
    font-size: 20px;
}

table {
    width: 100%;
    height: 100%;
}


/* 🔻上方標題列 ----------------------------------------------------------------------------------------- */
#header {
    position: fixed;
    width: 100vw;
    height: 70px;
}

#header table {
    table-layout: fixed;
    /* background: oldlace; */
    color: #000;
    font-size: 26px;
    border-collapse: collapse;
}

#header td {
    /* border: 1px solid red; */
    /* padding 算在寬度內 */
    box-sizing: border-box;
}

/* 🔸上方左側 */
/* 左側全體 */
#header td:nth-child(1) {
    width: 250px;
    text-align: left;
    padding-left: 20px;
}

/* 可點擊漢堡按鈕 */
label {
    text-align: center;
    line-height: 20px;
}

#hamburger {
    width: 25px;
    height: 25px;
    position: fixed;
    top: 15px;
    left: 20px;

    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

#hamburger:hover {
    background: #e7e7e7;
    border-radius: 50%;
}

/* 連結部分 */
#header td:nth-child(1) a {
    text-decoration: none;
    color: #000;
    font-family: "Fjalla One", sans-serif;
    padding-left: 60px;
}


/* YT 紅色 icon */
#red-yt {
    vertical-align: middle;
    font-size: 32px;
}

/* youtube 文字 */
#header span {
    vertical-align: middle;
    font-size: 25px;
}

/* TW 小字樣 */
#tw-text {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
    vertical-align: top;
}

/* 🔸上方中間搜尋 */
/* 中間全體 */
#header td:nth-child(2) {
    width: auto;
    text-align: center;
}

#header #btn-search,
#header #btn-mic {
    height: 48px;
    font-size: 24px;
    border: 1px solid #ccc;
    background: #eeeeee;
    margin: 0px;
    vertical-align: middle;
    cursor: pointer;
}

#header #btn-search:hover,
#header #btn-mic:hover {
    background: #e7e7e7;
}


#header #btn-mic {
    width: 48px;
    margin-left: 15px;
    border-radius: 50px;
    border: none;
}

#header #btn-search {
    width: 80px;
    margin-left: -7px;
    border-radius: 0px 50px 50px 0px;
    border-left: none
}


#header input {
    width: 550px;
    height: 46px;
    border: 1px solid #ccc;
    border-radius: 50px 0px 0px 50px;
    font-size: 20px;
    /* 搜尋文字位置 */
    padding-left: 25px;
    margin: 0px;
    vertical-align: middle;

}

#header input:focus {
    box-shadow: inset 0px 1px 3px #aaa;
    border: 2px solid cornflowerblue !important;
    outline: none;
}

/* 🔸上方右側 */
/* 右側全體 */
#header td:nth-child(3) {
    width: 250px;
    text-align: right;
}

#header #btn-plus,
#header #btn-bell {
    width: 48px;
    height: 48px;
    font-size: 24px;

    background: none;
    border: none;
    border-radius: 50px;
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
}

#header #btn-plus:hover,
#header #btn-bell:hover {
    background: #e7e7e7;
    cursor: pointer;
}

#header #profile {
    width: 40px;
    vertical-align: middle;
    border-radius: 50px;
    margin: 0px 40px 0px 20px;
    cursor: pointer;
}

/* 🔻側邊欄位----------------------------------------------------------------------------------------------*/

#side-bar {
    width: 90px;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    left: 0;

    background-color: #fff;
    text-align: center;
    color: #000;
    font-size: 14px;

    /* 預設顯示 side-bar */
    display: block;
}

#side-bar table {
    width: 90px;
    height: 380px;
    text-align: center;
    border-spacing: 5px 2px;

    /* background: #999; */
}

#side-bar table td {
    background: #fff;
    border-radius: 15px;

    /* border: 1px solid red; */
}

#side-bar a {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
    display: block;
}

#side-bar a:hover {
    background: #eee;
}

#side-bar i {
    font-size: 25px;
    padding-top: 25px;
    display: block;
}

#side-bar p {
    font-size: 12px;
    font-family: "Noto Sans TC", sans-serif;
    padding-top: 5px;
}

/* 🔻右側區塊：標籤列 + 影片區---------------------------------------------------------------------------- */
#right {
    width: calc(100vw - 90px);
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

#right::-webkit-scrollbar {
    width: 15px;
}

/* 滾動條樣式 */
#right::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

/* 🔻標籤列表------------------------------------------------------------------------------------------- */
#tag-bar {
    width: 100%;
    height: 70px;
    /* background: thistle; */
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 70px;
}


#tag-bar li {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: auto;

    background: #eee;
    padding: 0px 15px;
    margin: 2px;
    border-radius: 10px;
    font-family: "微軟正黑體";
    font-size: 17px;
}

#tag-bar li:nth-child(1) {
    background: #000;
    color: #fff;
}

#tag-bar li {
    cursor: pointer;
}

#tag-bar li:not(:first-child):hover {
    background-color: #e1e1e1;
}


/* 🔻影片區------------------------------------------------------------------------------------------------*/
#video {
    width: calc(100vw - 90px);
    height: auto;
    /* background: #eee; */
    box-sizing: border-box;
    padding: 10px;
}

#cards {
    /* 消除 inline-block 的幽靈空白 */
    font-size: 0;
}

#video .card {
    width: 270px;
    height: auto;
    line-height: 0px;
    display: inline-block;
    margin: 15px;
    /* background: red; */
}

/* 影片圖 */
#video .card .video {
    width: 270px;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
}

/* 頻道圖 */
.channel {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 15px;
}

.card table {
    width: 270px;
    height: auto;
    font-family: "微軟正黑體";
    /* 恢復字體大小 */
    font-size: 17px;
    border-collapse: collapse;
    margin-top: 15px;
    cursor: pointer;
}

.card td {
    /* border: 1px solid #000; */
    height: auto;
    line-height: 1.5;
}

.card table td[rowspan="3"] {
    vertical-align: top;
}

.card table td:nth-child(2) {
    width: 190px;
    vertical-align: middle;
    /* 超過兩行後省略 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    border-spacing: 0px;
    padding-bottom: 5px;
}

.card table td:nth-child(3) {
    width: 20px;
    text-align: center;
    font-size: 16px;
}

.card table tr:nth-child(2),
.card table tr:nth-child(3),
.card td a {
    color: #666;
    font-size: 14px;
    height: 20px;
}

.card a {
    text-decoration: none;
    color: #000;
}


/* 🔻點擊 hamburger 後顯示 toachbar --------------------------------------------------------------------- */

/* 預設隱藏 toachbar */
.toachbar {
    width: 300px;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    left: 0;

    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #fff;

    display: none;
    /* display: block; */
    z-index: 999;
    overflow-y: auto;
}

/* 當 checkbox 被勾選時切換狀態 */
#toggle-menu:checked~#side-bar {
    display: none;
}

#toggle-menu:checked~.toachbar {
    display: block;
}

/* 隱藏的 checkbox */
#toggle-menu {
    display: none;
}

/* 🔻toachbar 內容----------------------------------------------------------------------------------------*/

.toachbar::-webkit-scrollbar {
    width: 0;
    /* 隱藏滾動條 */
}

/* 當 hover 時顯示滾動條 */
.toachbar::-webkit-scrollbar {
    width: 10px;
    /* 顯示滾動條的寬度 */
}

/* 滾動條樣式 */
.toachbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

/* 文字部分 */
.toachbar ul {
    list-style-type: none;
    font-size: 18px;
    font-family: "微軟正黑體";

    /* background: red; */
}

.toachbar li {
    height: 45px;
    line-height: 45px;
    display: block;
    border-radius: 10px;
    margin-bottom: 2px;

    /* background: pink; */

    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.toachbar li:hover {
    background: #eee;
}

.toachbar a {
    display: block;
    text-decoration: none;
    color: #000;
}

.toachbar img {
    margin: 0 2rem -0.5rem 1rem;
    max-width: 30px;
    border-radius: 50%;
}

.toachbar li i {
    /* 圖示與文字之間的間距 */
    margin: 0 3rem 0 1.3rem;
    font-size: 20px;
    /* 調整 icon 大小 */
    max-width: 10px;
}

/* 分隔線 */
.toachbar hr {
    margin: 20px 0px;
}

/* 個人中心、訂閱內容、探索 */
.toachbar .title {
    padding: 0 0 0 1rem;
    font-size: 20px;
}

/* 個人中心 */
.toachbar #personal i {
    margin: 0 0 0 0.5rem;

}

/* 個人中心 */
.toachbar #personal:hover {
    background: #eee;
}

/* 訂閱內容、探索 */
.toachbar .title:hover {
    background: #fff;
}

.note {
    font-size: 16px;
    color: #666;
    font-family: "微軟正黑體";
    padding-left: 20px;
}

.copyright {
    font-size: 14px;
    color: #999;
}